body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
/*.................navigation bar...............*/
.nav_bar {
  width: 100%;
  height: 3.5rem;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  display: flex;
  z-index: 10;
}
.nav_bar_logo {
  text-align: right;
  vertical-align: middle;
}
.nav_bar_logo_img{
  height: 3rem;
  width: auto;
  margin-left: 3rem;
  margin-top: 0.25rem;
}
.nav_bar_home{
  font-weight: bolder;
}
.nav_bar_links{
  display: flex;
  list-style: none; 
  width: 88vw;
  justify-content: space-evenly;
  align-items: right;
  text-transform: uppercase;
}
.nav_bar_links li a{
  margin: 0 0.7vw;
  color: #000000;
  text-decoration: none;
}
.nav_bar_links li a:hover {
  color: rgba(1,1,1,0.6);
}
.nav_bar_links li {
  position: relative;
  text-align: right;
  width: 10rem;
}
.nav_bar_links li:last-child{
  margin-right: 3rem;
}



/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 995px){
  .nav_bar_links li:first-child{
    display: none;
  }
}
@media screen and (max-width: 875px){
  .nav_bar_links li:nth-child(2){
    display: none;
  }
}
/*Stying for small screens*/
@media screen and (max-width: 850px){
.nav_bar{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 5;
      transition: all 0.7s ease;
  }
  .nav_bar_links{
      position: absolute;
      background:rgba(0, 0, 0, 0.8);
      color: rgba(0, 0, 0, 0.3);
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
.nav_bar_links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav_bar_links li{
      opacity: 0;
  }
  .nav_bar_links li a{
    color: #ffffff;
}
  .nav_bar_links li:nth-child(3){
      transition: all 0.5s ease 0.2s;
  }
  .nav_bar_links li:nth-child(4){
      transition: all 0.5s ease 0.4s;
  }
  .nav_bar_links li:nth-child(5){
      transition: all 0.5s ease 0.6s;
  }
  .nav_bar_links li:nth-child(6){
      transition: all 0.5s ease 0.7s;
  }
  .nav_bar_links li:nth-child(7){
      transition: all 0.5s ease 0.8s;
  }
  .nav_bar_links li:nth-child(8){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav_bar_links li:nth-child(9){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
.nav_bar_links li.fade{
      opacity: 1;
      color: #ffffff;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}




/*...............................home section..................................*/

.home-watermark_and_started-section{
  height: 100vh;
  width: 100%;
  background-image: url("../images/background_images/unregisteredbg.jpg");
  background-size: cover;
  margin: 0;
}
.home-watermark_and_started-div{
  text-align: center;
  vertical-align: middle;
  margin-top: 20vh;
}
.watermark {
  font-size: 10rem;
  color: white;
  font-weight: bold;
  display: block;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}
.get_started-btn{
  margin:auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #89C2B8;
  opacity: 0.6;
  height: 3rem;
  width: 15rem;
  border-radius: 0.6rem;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 950px){
  .watermark{
    font-size: 8rem;
  }
  .get_started-btn{ 
    height: 2.5rem;
    width: 12.5rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 750px){
  .watermark{
    font-size: 6rem;
  }
  .get_started-btn{ 
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px){
  .watermark{
    font-size: 5rem;
  }
}
@media screen and (max-width: 450px){
  .watermark{
    font-size: 4rem;
  }
}
/*__________________about_us________________*/

.about_us-section {
  height: 100vh;
  font-family: 'Merienda', cursive;  font-size: 1rem;
}
.h1-about_us {
  font-size: 2rem;
  text-align: center;
}
.div-about_us {
  display: block;
  height: 28vh;
}
.h3-about_us {
  margin: auto auto 1rem 8%;
  float: left;
}
.p-about_us {
  display: block;
  text-align: justify;
  width: 60%;
  margin: auto auto auto 8%;
  float: left;
}
.logo-about_us {
  width: 14.5%;
  height: auto;
  float: right;
  margin: auto 8% auto auto;
}

.hr-about_us {
border-width: 0.3rem 0rem 0rem 0rem;
border-color: #000000;
margin: 0px;
}
/*.............image gallery <- about us...............*/

.gallary-about_us {
  height: 42vh;
  width: 90%;
  margin: auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.slide-about_us img{
  height: 40vh;
  width: auto;
  margin: 0.3rem 5px;
  border-radius: 1vh;
}
.gallary-about_us::-webkit-scrollbar {
	display: none;
}
.prev_btn-about_us {
  float: left;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 1px 3px #888;
  height: 15vh;
  width: 2.5rem;
  margin: 12.5vh 0rem 12.5vh 0.5rem;
  cursor: pointer;
  text-align: center;
}
.left_arrow-about_us {
  height: 90%;
  width: 90%;
  margin: 10% auto;
}
.next_btn-about_us {
  float: right;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 1px 3px #888;
  height: 15vh;
  width: 2.5rem;
  margin: 12.5vh 0.5rem 12.5vh 0rem;
  cursor: pointer;
  text-align: center;
}
.right_arrow-about_us {
  height: 90%;
  width: 90%;
  margin: 10% auto;
}
.slide-about_us img:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
/*.............END image gallery <- about us...............*/
/*__________________END about_us________________*/

/*--------------contact_us-----------*/
.home-contact_us {
  height: 30vh;
  background-color: #000000;
}
.mail_div-contact_us{
  display: block;
  height: 3rem;
}
.mail_img-contact_us {
  height: auto;
  width: 2rem;
  margin: 1.8rem auto auto 3rem;
  float: left;
}
.mail-contact_us {
  float: left;
  color: #ffffff;
  margin: 2.3rem auto auto 1rem;
  font-size: 1.2rem;
}
.phone_img-contact_us {
  height: auto;
  width: 2rem;
  margin: 0.8rem auto auto 3rem;
  float: left;
}
.phone-contact_us {
  float: left;
  color: #ffffff;
  margin: 1.3rem auto auto 1rem;
  font-size: 1.2rem;
}
.social_media-contact_us {
  float: right;
  margin: auto 3rem auto auto;
}
.social_media_img-about_us {
  float: right;
  margin: auto 1rem auto auto;
  height: auto;
  width: 2rem;
}
.Copyrights-contact_us {
  color: #ffffff;
  display: inline-block;
  margin: 2.7rem auto auto 15rem;

}
