body {
  font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 5px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/*.................navigation bar...............*/
.nav_bar {
  width: 100%;
  height: 3.5rem;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  display: flex;
  z-index: 10;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
}
.nav_bar_logo {
  text-align: right;
  vertical-align: middle;
}
.nav_bar_logo_img{
  height: 3rem;
  width: auto;
  margin-left: 3rem;
  margin-top: 0.25rem;
}
.nav_bar_home{
  font-weight: bolder;
}
.nav_bar_links{
  display: flex;
  list-style: none; 
  width: 88vw;
  justify-content: space-evenly;
  align-items: right;
  text-transform: uppercase;
}
.nav_bar_links li a{
  margin: 0 0.7vw;
  color: #000000;
  text-decoration: none;
}
.nav_bar_links li a:hover {
  color: rgba(1,1,1,0.6);
}
.nav_bar_links li {
  position: relative;
  text-align: right;
  width: 10vw;
}
.nav_bar_links li:last-child{
  margin-right: 3rem;
}



/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 995px){
  .nav_bar_links li:first-child{
    display: none;
  }
}
@media screen and (max-width: 875px){
  .nav_bar_links li:nth-child(2){
    display: none;
  }
}
/*Stying for small screens*/
@media screen and (max-width: 850px){
.nav_bar{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 5;
      transition: all 0.7s ease;
  }
  .nav_bar_links{
      position: absolute;
      background:rgba(0, 0, 0, 0.8);
      color: rgba(0, 0, 0, 0.3);
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
.nav_bar_links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav_bar_links li{
      opacity: 0;
  }
  .nav_bar_links li a{
    color: #ffffff;
}
  .nav_bar_links li:nth-child(3){
      transition: all 0.5s ease 0.2s;
  }
  .nav_bar_links li:nth-child(4){
      transition: all 0.5s ease 0.4s;
  }
  .nav_bar_links li:nth-child(5){
      transition: all 0.5s ease 0.6s;
  }
  .nav_bar_links li:nth-child(6){
      transition: all 0.5s ease 0.7s;
  }
  .nav_bar_links li:nth-child(7){
      transition: all 0.5s ease 0.8s;
  }
  .nav_bar_links li:nth-child(8){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav_bar_links li:nth-child(9){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
.nav_bar_links li.fade{
      opacity: 1;
      color: #ffffff;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}




/*...............................home section..................................*/

.home-watermark_and_started-section{
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background_images/unregisteredbg.jpg");
  background-size: cover;
  margin: 0;
}
.home-watermark_and_started-div{
  text-align: center;
  vertical-align: middle;
  margin-top: 20vh;
}
.watermark {
  font-size: 10rem;
  color: white;
  font-weight: bold;
  display: block;
  margin: auto;
  font-family: 'Cormorant Garamond', serif;
}
.get_started-btn{
  margin:auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #89C2B8;
  opacity: 0.6;
  height: 3rem;
  width: 15rem;
  border-radius: 0.6rem;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 950px){
  .watermark{
    font-size: 8rem;
  }
  .get_started-btn{ 
    height: 2.5rem;
    width: 12.5rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 750px){
  .watermark{
    font-size: 6rem;
  }
  .get_started-btn{ 
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px){
  .watermark{
    font-size: 5rem;
  }
}
@media screen and (max-width: 450px){
  .watermark{
    font-size: 4rem;
  }
}
/*__________________about_us________________*/

.about_us-section {
  height: 100vh;
  font-family: 'Mali', cursive;
}
.h1-about_us {
  font-size: 2rem;
  text-align: center;
}
.div-about_us {
  display: block;
  height: 28vh;
  margin-bottom: 2rem;
}
.h3-about_us {
  margin: auto auto 1rem 8%;
  float: left;
}
.p-about_us {
  display: block;
  text-align: justify;
  width: 60%;
  margin: auto auto auto 8%;
  float: left;
}
.logo-about_us {
  width: 14.5%;
  height: auto;
  float: right;
  margin: 1rem 8% auto auto;
}

.hr-about_us {
border-width: 0.3rem 0rem 0rem 0rem;
border-color: #000000;
margin: 0px;
width: 100vw;
}
/*.............image gallery <- about us...............*/

.gallary-about_us {
  height: 42vh;
  width: 90%;
  margin: auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.slide-about_us img{
  height: 40vh;
  width: auto;
  margin: 0.3rem 5px;
  border-radius: 1vh;
}
.gallary-about_us::-webkit-scrollbar {
	display: none;
}
.prev_btn-about_us {
  float: left;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 1px 3px #888;
  height: 15vh;
  width: 2.5rem;
  margin: 12.5vh 0rem 12.5vh 0.5rem;
  cursor: pointer;
  text-align: center;
}
.left_arrow-about_us {
  height: 90%;
  width: 90%;
  margin: 10% auto;
}
.next_btn-about_us {
  float: right;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 1px 3px #888;
  height: 15vh;
  width: 2.5rem;
  margin: 12.5vh 0.5rem 12.5vh 0rem;
  cursor: pointer;
  text-align: center;
}
.right_arrow-about_us {
  height: 90%;
  width: 90%;
  margin: 10% auto;
}
.slide-about_us img:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
/*.............END image gallery <- about us...............*/
@media screen and (max-width: 1200px){
  .gallary-about_us {
    height: 35vh;
    width: 88%;
  }
  .slide-about_us img{
    height: 33vh;
  }
  .prev_btn-about_us{
   margin: 7.5vh 0rem 7.5vh 0.5rem;
  }
  .next_btn-about_us  {
    margin: 7.5vh 0.5rem 7.5vh 0rem;
  }
  .div-about_us {
    margin-bottom: 3rem;
  }
  .logo-about_us {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 900px){
  .gallary-about_us {
    height: 30vh;
    width: 85%;
  }
  .slide-about_us img{
    height: 28vh;
  }
  .prev_btn-about_us{
    margin: 7.5vh 0rem 7.5vh 0.5rem;
   }
   .next_btn-about_us  {
     margin: 7.5vh 0.5rem 7.5vh 0rem;
   }
  .div-about_us {
    margin-bottom: 5rem;
  }
  .logo-about_us {
    margin-top: 3rem;
    width: 18%;
    height: auto;
  }
}
@media screen and (max-width: 650px){
  .gallary-about_us,.prev_btn-about_us,.next_btn-about_us,.hr-about_us {
    display:none;
  }
  .div-about_us {
    margin:auto;
    width: 80vw;
    height: 100vh;
    text-align: center;
  }
  .p-about_us {
    width: 100%;
    float: none;
    margin: auto;
  }
  .logo-about_us {
    margin: 2rem auto 1rem auto;
    width: 25vw;
    height: auto;
    float: none;
  }
  .h3-about_us {
    float: none;
    margin: auto;
  }
}
@media screen and (max-width: 420px){
  .logo-about_us {
    margin: 0.5rem auto 0.5rem auto;
    width: 25vw;
    height: auto;
    float: none;
  }
}
@media screen and (max-width: 350px){
  .logo-about_us {
    display: none;
  }
  .h3-about_us {
    margin-bottom: 1rem;
  }
}
/*__________________END about_us________________*/

.contact_us {
  height: 25vh;
  background-color: #000000;
  width: 100vw;
  text-align: center;
  align-items: center;
}
.mail_div_contact_us{
  display: block;
  height: 3rem;
  width: 19rem;
  margin-left: 2rem;
}
.mail_img_contact_us {
  height: auto;
  width: 2rem;
  margin: auto;
  float: left;
}
.mail_contact_us {
  float: right;
  color: #ffffff;
  margin: auto;
  font-size: 1.2rem;
}
.phone_div_contact_us {
  display: block;
  height: 3rem;
  width: 10.5rem;
  margin-left: 2rem;
}
.phone_img_contact_us {
  height: auto;
  width: 2rem;
  margin: auto;
  float: left;
}
.phone_contact_us {
  float: right;
  color: #ffffff;
  margin: auto;
  font-size: 1.2rem;
}
.phone_mail_contact_us {
  display: block;
  float: left;
}
.social_media-contact_us {
  float: right;
  margin: 2rem 3rem auto auto;
  width: 15rem;
  height: 3rem;
}
.social_media_img-about_us {
  float: right;
  margin: auto 1rem auto auto;
  height: auto;
  width: 2rem;
}
.copyrights_contact_us {
  color: #ffffff;
  margin: auto auto auto auto;
  float:left;
  width: 100vw;
}
.copyrights_contact_us p {
  margin: 0;
}
@media screen and (max-width: 875px){
  .phone_mail_contact_us {
    display: block;
    float: none;
    margin: auto;
    text-align: center;
  }
  .mail_div_contact_us{
    display: block;
    height: 3rem;
    width: 19rem;
    margin: auto;
  }
  .phone_div_contact_us {
    display: block;
    height: 3rem;
    width: 10.5rem;
    margin: auto;
  }
  .social_media-contact_us {
    margin: 1rem auto;
    width: 15rem;
    height: 3rem;
    float: none;
  }
  .contact_us {
    height: 40vh;
    background-color: #000000;
    width: 100vw;
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 360px){
  .contact_us {
    height: 45vh;
  }
}
@media screen and (max-width: 330px){
  .contact_us {
    height: 50vh;
  }
} 