body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.feedback {
  background-image: url("../../images/background_images/unregisteredbg.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0px;
}
.box-feedback {
  background-color: rgba(255,255,255,0.4);
  height: 80vh;
  width: 90%;
  margin: auto;
}
.feedback_table-feedback {
  background-color: rgba(255,255,255,0.0);
  width: 90%;
  margin: auto;
}
.feedback_thead-feedback {
  display: flex;
  flex-direction: column;
}
.feedback_thead-feedback tr td {
  background-color: rgba(255,255,255,0.8);
  height: 2rem;
  padding: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
}
.feedback_tbody-feedback {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 65vh;

}
tbody::-webkit-scrollbar {
  width: 5px;
}

tbody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

tbody::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.feedback_tbody-feedback tr td{
  background-color: rgba(255,255,255,0.8);
  height: 2rem;
  padding: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.date-feedback {
  width: 25vh;
}
.feedback-feedback {
  width: 130vh;
}
.answer-faq {
  background-color: #89C2B8;
  height: 5rem;
  padding: 0px;
  padding-left: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
}
