/* Whole page*/

* {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}


/*Content of the page*/

.middle {
    margin-top: 5%;
    margin-bottom: 1%;
}


/* Filter option */

.filter-input {
    width: 20%;
}

.filter-labels {
    padding: 80px;
}


/* Search option */

.search-input {
    cursor: auto;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 8px 12px;
    width: 20%;
    height: 10px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    color: #333333;
    font-weight: 700;
}

.search-input:hover,
.search-input:focus,
select:hover,
select:focus {
    outline: none;
    border: 1px solid #bbbbbb;
    color: #000000;
}

select {
    cursor: pointer;
    color: #333333;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    padding: 8px 12px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 5%;
    height: 35px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.heading-one {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


/*Registered vehicle table*/

.content-table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table {
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 82%;
    margin: auto;
}
.table::-webkit-scrollbar {
  width: 5px;
}

.table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.content-table th {
    background-color: #323534;
    padding: 12px 20px;
    text-align: center;
    border-bottom: 2px solid #000000;
    font-weight: 700;
}

.content-table td {
    padding: 12px;
    text-align: center;
}

.content-table tbody tr {
    background-color: #323534;
    border-bottom: 2px solid #000000;
}

.content-table tbody tr:last-child {
    border-bottom: 2px solid #323534;
}

.content-table tbody tr:hover {
    background-color: rgb(71, 138, 149);
}

tbody a {
    text-decoration: none;
    color: black;
}


/* buttons*/

#morebtn {
    background-color: rgb(41, 180, 161);
    border-radius: 8px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    border-width: 0.01ch;
    border-color: rgb(41, 180, 161);
}

#completedbtn {
    background-color: rgb(41, 180, 161);
    border-radius: 8px;
    width: 90px;
    height: 25px;
    cursor: pointer;
    border-width: 0.01ch;
    border-color: rgb(41, 180, 161);
}

#removebtn {
    background-color: rgb(204, 78, 109);
    border-radius: 8px;
    width: 70px;
    height: 25px;
    cursor: pointer;
}

.action {
    padding: 10px;
    border: 2px solid #323534;
    border-radius: 5px;
    transition: ease-in-out 200ms;
}

.action:hover {
    background-color: #323534;
    color: white;
}

.heading-one {
    font-size: 20px;
    font-weight: bold;
}

/* ....................modal box for cutomer details............................... */
.more_traveler_details_modal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
  }
.more_traveler_details_modal_box{
    height: 35vh;
    width: 45%;
    background-color: rgba(255,255,255,1);
    margin: auto;
    z-index: 1;
    position: fixed;
    left: 30%;
    top: 30vh;
  }
.more_traveler_details_modal_box table{
    width: 100%;
    margin: 0.5rem auto auto auto;
    text-align: left;
  }
.more_traveler_details_modal_box td{
    color: black;
    line-height: 1.5rem;
    padding-left: 1rem;
  }
  .more_traveler_details_modal_box td:first-child{
    font-weight: bold;
    width: 5%;
  }
.more_traveler_details_modal_box h3,p {
      margin-left: 1rem;
      color: #000000;
      padding: 1rem;
  }
.more_traveler_cancel_btn {
    width: 20%;
    margin: auto 0.7rem auto auto;
    height: 2rem;
    border-radius: 0.2rem;
    border-width: 0px;
    background-color: rgb(41, 180, 161);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 1px 2px #888888;
    float: right;
    }
  /* ........................end of modal box for cutomer details.......... */
/*.heading-two {
    font-size: 20px;
    font-weight: bold;
}

.header-primary {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header-svg-primary {
    width: 3rem;
    min-width: 3rem;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0;
}

.header-secondary {
    display: flex;
    align-items: center;
}

.header-svg-secondary {
    width: 2.5rem;
    min-width: 2.5rem;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0;
}*/
