body {
    font-family: sans-serif;
    margin: 0;
}
.uppersection {
      background-image: url("../../images/background_Images/travelerbg.jpg");
      /* opacity: 90%; */
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
}

/* title of the page */
.pageheading{
  font-size: 1.5rem;
  margin:0 0 0.25rem 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

.content {
  width: 80%;
  margin: auto;
  padding: 0;
}
.vehicledetails_div {
  max-height: 72%;
  overflow-y: scroll;
}
.vehicledetails_div::-webkit-scrollbar {
  display: none;
}

.filter_form{
  margin-top: 0.5rem;
}

.filter_table{
  width: 100%;
}

.filter_table td {
  text-align: center;
}
select{
    width: 80%;
    padding: 0.2rem;
    border: none;
}

.vehicledetails{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    height: 12vh;
    border-collapse: collapse;
}

.vehicleType{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 1.5rem 1.5rem 0px 0px;
    padding: 0.5rem;
}

.vehicledetails th{
    text-align: center;
    margin: 0;
}
.vehicledetails td{
   width: 20%;
    text-align: left;
    padding: 0 0 0 0.5rem;
}

.vimg{
      width: 15vw;
      height: auto;
      border-radius: 1rem;

}


/* input[type="checkbox"]{
    width: 10px;
    background-color: transparent;
} */

/* @media screen and (max-width:650px){

} */
