.faq {
  background-image: url("../../images/background_images/travelerbg.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0px;
  /* opacity: 90%; */
}

/* title of the page */
.heading{
  font-size: 1.5rem;
  margin:0 0 0.25rem 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

.question_and_answers-faq {
  background-color: rgba(255,255,255,0.4);
  height: 75vh;
  width: 80vw;
  border-radius: 2rem;
  margin: auto;
}

.faq_table-faq {
  background-color: rgba(255,255,255,0.0);
  width: 90%;
  margin: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.question-faq {
  background-color: rgba(255,255,255,0.8);
  height: 6vh;
  padding: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1vh;
  width: 80vw;
}

.question-faq:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.answer-faq {
  display: none;
  background-color: #89C2B8;
  height: 15vh;
  overflow: hidden;
  padding: 0px;
  padding-left: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1vh;
}

.toggle {
  /* display: none; */
  background-color: #89C2B8;
  height: 15vh;
  overflow: hidden;
  padding: 0px;
  padding-left: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 1vh;
}