body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.sign_up-traveler {
    background-image: url("../../images/background_images/travelerbg.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0px;
}

/* title of the page */
.pageheading{
    font-size: 1.5rem;
    margin:0 0 0.25rem 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    align-content: center;
  }

.box-sign_up-traveler {
    background-color: rgba(255, 255, 255, 0.4);
    height: 70vh;
    width: 80vw;
    border-radius: 2rem;
    margin: auto auto 1rem auto;
}

.form-sign_up-traveler {
    width: 75vw;
    margin: 0.8% auto 0.8% auto;
    height: 70vh;
}

.form-sign_up-traveler label {
    max-width: 22.5vw;
    font-size: 1.2rem;
    display: block;
    float: left;
}

.text-form-sign_up-traveler {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    width: 52.5vw;
    height: 1.3rem;
    margin: 0px;
    float: right;
}

.text-small-form-sign_up-traveler {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    width: 25.5vw;
    height: 1.3rem;
    margin: 0;
    margin-left: 1.5vw;
    float: right;
}

.tc-checkbox-form-sign_up-traveler {
    background: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    height: 1.3rem;
    width: 1.3rem;
    margin: 1% auto auto 25%;
    float: left;
}

#tc-label-form-sign_up-traveler {
    width: 70%;
    max-width: 70%;
    font-size: 1.2rem;
    float: right;
    display: block;
    margin: 1% auto auto auto;
}

.buttons-sign_up-traveler {
    width: 40%;
    margin: auto;
    padding: 0px;
}

.refreshbtn {
    width: 12rem;
    height: 2.5rem;
    margin: auto;
    border-radius: 0.8rem;
    border: none;
    background-color: rgba(141, 230, 159);
    /* opacity: 0.8; */
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #ffffff;
    cursor: pointer;
    /* box-shadow: 1px 2px #888888; */
}

.submitbtn {
  width: 12rem;
  height: 2.5rem;
  background: #369093;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  display: block;
  cursor: pointer;
  letter-spacing: 2px;
  margin: auto;
  /* opacity: 0.8; */
  float: right;
  /* box-shadow: 1px 2px #888888; */
}


/*Tooltip in password*/

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: white;
    font-size: small;
    text-align: left;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}