body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.feedback {
  background-image: url("../../images/background_images/travelerbg.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0px;
  /* opacity: 90%; */
}

/* title of the page */
.pageheading{
  font-size: 1.5rem;
  margin:0 0 0.25rem 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

.box-feedback {
  background-color: rgba(255,255,255,0.4);
  height: 78vh;
  width: 80%;
  border-radius: 2rem;
  margin: auto;
}
.feedback_table-feedback {
  background-color: rgba(255,255,255,0.0);
  width: 90%;
  margin: auto;
}
.feedback_thead-feedback {
  display: flex;
  flex-direction: column;
}
.feedback_thead-feedback tr td {
  background-color: rgba(255,255,255,0.8);
  height: 2rem;
  padding: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
}
.feedback_tbody-feedback {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 58vh;

}
tbody::-webkit-scrollbar {
  width: 5px;
}

tbody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

tbody::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.feedback_tbody-feedback tr td{
  background-color: rgba(255,255,255,0.8);
  height: 2rem;
  padding: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.date-feedback {
  width: 25vh;
}
.feedback-feedback {
  width: 130vh;
}

/* link to add  feedback form */
.addfeedback{
  width: 3.5rem;
  height: 3.5rem;
  float: right;
  margin: 0.3rem 2.5rem;
}

.answer-faq {
  background-color: #89C2B8;
  height: 5rem;
  padding: 0px;
  padding-left: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
}

/* feedback form */

.form_div{
  display: none;
}

.heading{
  font-weight: bold;
  padding: 1rem 0 0 4rem;
}

.feedbackform{
  padding:1rem 4rem;
}

textarea{
  width: 70vw;
  height: 18vh;
  resize: none;
  background-color: transparent;
  border: 1px solid #000000;
}
/* .submitbtn {
background: none;
border: none;
} */

.submitbtn{
  width: 12rem;
  height: 2.5rem;
  margin:0.2rem 0 0 0.8rem;
  background: #369093;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  display: block;
  cursor: pointer;
  letter-spacing: 2px;
  float:left;
}

/* .Submit{
  width: 3rem;
  height: 3rem;
} */