.home-watermark_and_started-section{
  height: 100vh;
  width: 100%;
  background-image: url("../../images/background_images/travelerbg.jpg");
  background-size: cover;
  margin: 0px;
  /* opacity: 90%; */
}
.watermark {
  font-size: 9rem;
  color: white;
  font-weight: bold;
  display: block;
  margin: 17vh auto auto auto;
  padding: 0px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.container{
  height: 15vh;
  margin: 4vh auto auto auto;
  width: 80%;
}

.details{
  display: inline-block;
  align-content: center;
  border-radius: 2rem;
  background: rgba(196, 196, 196, 0.6);
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.main{
  padding-top: 0.5rem;
  margin: auto;
  width: 100%;
}

.heading{
  color: #ffffff;
}

.trow{
  font-size: 1.25rem;
  text-align: center;
}
.main tr, .main td {
  width: 33.33%;
}

.nextbtn{
  width: 12rem;
  height: 2.5rem;
  margin: 1rem auto;
  background: #369093;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  display: block;
  cursor: pointer;
  letter-spacing: 2px;
}

input[type="number"],select{
  border: none;
  border-bottom: solid #000000 2px;
  background:none;
  font-size: 1rem;
}
input[type="date"]{
  border: none;
  border-bottom: solid #000000 2px;
  background:none;
  font-size: 0.8rem;
  padding: 0px;
}

 /* toggle button */
 
 .selecttype {
  display: flex;
  flex-direction: column;
  margin: 0.3rem auto;
  text-align: center;
  width: 40%;
  transform: translateY(5%);
}
.selecttype label {
  margin: 0 auto;
}
label, .toggle {
  height: 2.2rem;
  border-radius: 100px;
}
label {
  width: 65%;
  background-color: rgba(0,0,0,.3);
  border-radius: 100px;
  position: relative;
  margin: 1rem auto; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  /* font-size: 90%; */
  font-weight: bolder;
  width: 100%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.names p{
  /* justify-content: center;
  align-items: center; */
  margin:auto;
  margin-top: 1%;
  width: 50%;
  font-size: 20px;
  letter-spacing: 1px;
}

.upcoming {
  opacity: 1;
}


/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none;
}
/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
/*   background-color: #34323D; */
}
[type="checkbox"]:checked + .app .upcoming{
  opacity: 1;
}
[type="checkbox"]:checked + .app .planning{
  opacity: 1;
}

/* @media screen and (max-width:760px){


} */