body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.sign_up {
  background-image: url("../../images/background_images/unregisteredbg.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0px;
}
.box-sign_up{
  background-color: rgba(255,255,255,0.4);
  height: 80vh;
  width: 35%;
  margin: auto;
}
.img-sign_up {
  width: auto;
  height: 5rem;
  margin: 0.5rem;
}
.border-img-sign_up {
  margin: auto;
  width: 6rem;
  height: 6rem;
  border: solid;
  border-radius: 50%;
  border-width: medium;
  background-color: rgba(255,255,255,0.6);
}
.description-sign_up {
  width: 65%;
  margin: auto;
  text-align: left;
}
.description-sign_up button {
  width: 100%;
  margin: auto auto 0.8rem auto;
  height: 2rem;
  border-radius: 0.5rem;
  border-width: 0px;
  background-color: rgba(103,176,186,0.7);
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
}
.description-sign_up h3 {
  font-weight: normal;
  margin-top: 0px;
}
.description-sign_up h3 a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
}
