body{
    background-image: url("../images/background_Images/travelerbg.jpg");
    opacity: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 25px;
}

table{
    width: 100%;
    text-align: center;
}

.prev{
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 50px solid #555;
    border-bottom: 75px solid transparent;
    width: 5%;
    float: left;
    align-content: center;
}

.hotels{
    width: 80%;
}

.next{
	width: 0;
	height: 0;
	border-top: 75px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 75px solid transparent;
    width: 5%;
    float: left;
    align-content: center;
}

.cols1,.cols2{
    float: left;
    width: 50%;
    align-content: center;
}

.hotels1{
    display: block;
}

.hotels2,.hotels3,.hotels4{
    display: none;
}

#selecthotelbtn{
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 146px;
    color: #ffffff;
    font-size: 25px;
    border: none;
    margin: 5px;
}

#cancelbtn{
    font-family: sans-serif;
    font-size: 25px;
    width: 250px;
    height: 46px;
    background: rgba(239, 49, 49, 0.6);
    border-radius: 30px;    
    border: none;
    color: white;
    margin-top: 10px;
}

@media screen and (max-width:650px){
    .slide{
        float: left;
        width: 100%;
        align-content: center;
    }

    .cols1,.cols2{
        width:100%
    }


    .next{
        float:left;
        width: 5%;
    }

    #selecthotelbtn{
        font-size: 20px;
        height: 100px;
    }

    #cancelbtn{
        font-size: 20px;
    }
}

