body{
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin: 0px;
}
.uppersection {
  background-image: url("../../images/background_Images/travelerbg.jpg");
  opacity: 90%;
  background-size: cover;
  height: 100vh;
}
.image_gallery_hotel {
  height: 20.5vh;
  background-color: rgba(0,0,0,0.5);
  width: 80%;
  margin: auto;
  padding: 0;
}
.image_gallery_hotel table {
  padding: 0;
}
.image_gallery_hotel table td {
  width: 20%;
  padding: 0;
}
.images_image_gallery_hotel {
  height: 18vh;
  width: 95%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0;
}
.images_image_gallery_hotel:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
form{
    margin: auto;
}

.rooms{
    width: 80%;
    height: 40vh;
    margin: auto;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 40px;
    padding-top: 10px;
    text-align: centers;
}

.slide{
    display: inline-block;
    width: 24%;
    text-align: center;
}

.rname{
    /* font-size: 25px; */
}

.r1,.r2,.r3,.r4{
    display: block;
}



.roomtype{
    /* to center .roomtype */
    display: inline-block;

    width: 90%;
    height: 26vh;
    padding-top: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #ffffff;
    margin:4px;

    /* align texts and button center */
    text-align: center;
}

b{
    color: red;
}

.confirm{
    width: 100%;
    text-align: center;
}

#confirmbtn{
    width: 257px;
    height: 70px;

    background: rgba(93, 196, 189, 0.7);
    border-radius: 30px;
    font-size: 25px;
    color: #ffffff;
    border: none;
}

/* css for changing no of rooms part */
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 3rem;
    height: 1.5rem;
    padding-top: 0.4rem;
    text-align: center;
    vertical-align: middle;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }

  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }

  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }

  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }

  input#number {
    text-align: center;
    border: none;
    border: 1px solid #ddd;
    margin: 0;
    width: 2rem;
    height: 1.5rem;
    padding-top: 0.3rem;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .hoteldetails th{
      color: #ffffff;
  }

  .hoteldetails td{
    background: rgba(196, 196, 196, 0.6);
    font-size: 20px;
  }

  .hoteldetailsth,td{
      width: 50%;
      height: auto;
      text-align: center;
  }

/* @media screen and (max-width:800px){
    .tripdetail{
        height: 200px;
    }

    .slide{
        float: left;
        width: 100%;
        align-content: center;
    }


    .next{
        float:left;
        width: 5%;
    }

    #selecthotelbtn{
        font-size: 20px;
        height: 100px;
    }
} */
