body{
    color:#ffffff;
    background-color: #000;
  background-size: cover;
    font-family: sans-serif;
    margin: 0px;
}
/* .............image gallery.................. */
.image_gallery_hotel {
  height: 20.5vh;
  background-color: none;
  width: 80%;
  margin: 0.5rem auto auto auto;
  padding: 0;
}
.image_gallery_hotel table {
  padding: 0;
}
.image_gallery_hotel table td {
  width: 20%;
  padding: 0;
}
.images_image_gallery_hotel {
  height: 18vh;
  width: 95%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0;
}
.images_image_gallery_hotel:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
/* ..................end of image gallery..................... */

/*  ..................hotel details and representattive details........................ */
.hotel_account {
    width: 80%;
    margin: auto;
    height: 40vh;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    padding: 0;
    /* padding: 1rem; */
  }
.hotel_account table {
    width: 90%;
    margin: auto;
}
.hotel_account td {
    text-align: left;
    padding-top: 0.3rem;
}
.hotel_account td:first-child {
    width: 10%;
    font-weight: bold;
}
.hotel_account td:nth-child(2) {
    width: 20%;
}
.hotel_account_payment {
    width: 6rem;
    height: 6rem;
    background-color: crimson;
    border-radius: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}
.paybtn {
    text-align: center;
    margin: auto;
    width: 10rem;
}
.paybtn button{
    display: block;
    width: 10rem;
    height: 3rem;
    background: rgba(103, 176, 186, 0.7);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
}
.checkbtn {
    text-align: center;
    margin: auto;
    width: 10rem;
}
.checkbtn button{
    display: block;
    width: 10rem;
    height: 3rem;
    background: rgba(103, 176, 186, 0.7);
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
}
.payForm input{
    display: none;
}
  /*  ..................end of hotel details and representattive details........................ */

/*  ........................room details table.......................*/
.room_details-form-sign_up-hotel {
    width: 80%;
    padding: 0px;
    margin: 1rem auto;
}

.room_details-form-sign_up-hotel tr {
    background-color: rgba(255, 255, 255, 0.3);
    height: 1.5rem;
}

#first_column_room_details-form-sign_up-hotel {
    text-align: left;
    padding-left: 0.5rem;
}

.room_details-form-sign_up-hotel tr th {
    text-align: center;
    font-weight: normal;
    width: 12%;
}

.room_details-form-sign_up-hotel tr td {
    text-align: center;
}

.room_details-form-sign_up-hotel tr td input[type=number] {
    width: 3rem;
    text-align: center;
    padding: 0px;
    -moz-appearance: textfield;
}

.room_details-form-sign_up-hotel tr td input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    margin: auto;
    cursor: pointer;
}

.room_details-form-sign_up-hotel tr td input[type=text] {
    width: 5rem;
    text-align: center;
    padding: 0px;
}
/* ........................end of room details table....................... */

/*  ..................hotel description and location........................ */
.hoteldetails {
  width: 80%;
  margin: auto;
  height: 28vh;
}
.hoteldetails tr th{
    color: #ffffff;
    text-align: left;
}
.hoteldetails iframe {
  margin: 0;
  border:0;
}
.hoteldetails td{
    width: 50%;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}
.hoteldetails td p {
    text-align:justify;
    width: 90%;
    margin: auto;
}

.hoteldetailsth,td{
    height: auto;
    text-align: center;
}
/*  ..................end of hotel description and location........................ */
/* @media screen and (max-width:800px){
    .tripdetail{
        height: 200px;
    }

    .slide{
        float: left;
        width: 100%;
        align-content: center;
    }


    .next{
        float:left;
        width: 5%;
    }

    #selecthotelbtn{
        font-size: 20px;
        height: 100px;
    }
} */
