body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.sign_up-traveler {
    height: 100vh;
    background-image: url("../../images/background_Images/Hotelbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.rectangle {
width: 80%;
height: 70%;
margin: auto;
background: rgba(255, 255, 255, 0.5);
border-radius: 2rem;
text-align: center;
}

.rectangle2 {
width: 50%;
height:3.5rem;;
background: rgba(255, 255, 255, 0.4);
border-radius: 7px;
}
.rectangle2 td {
  text-align: center;
}
.dateselect{

  justify-content: space-between;
  box-align : center;
  width:831px;
  height: 70px;
}

table.b {
  table-layout: auto;
  border: none;
  width: 90%;
  margin: auto;
}
td.b {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  box-align: center;
  background: rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 1.0) ;
  width: 22%;

}
th.b {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  box-align: center;
}

.button:hover {opacity: 1}
.morebtn {
  width: 70px;
  height: 30px;
  font-weight: bold;
  line-height: 25px;
  color: #000000;
  left: 379px;
  background:rgba(103, 176, 186, 1.0);
  border: rgba(103, 176, 186, 1.0);

}

.price{
	padding: 7px;
  border:1px solid none;
	resize: vertical;
  width: 103px;
  height: 30px;
  background: none;
  border: 1px solid #000000;
  box-sizing: border-box;

}
/* For the form which is craeted fro the date (within the rectangle 2)*/
input[type=date], select{
	padding: 7px;
	resize: vertical;
	width:300px;
  height: 50px;
  background: rgba(255, 255, 255, 0.0);
  border: rgba(255, 255, 255, 0.4);
  left: 130px;
}
/*label part*/
.label{
  font-weight: bold;
	color:rgb(0, 0, 0);
  text-align: right;
  background: rgba(255, 255, 255, 0.0);
  height:50px;
  width:700px
}
