body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
.faq {
  background-image: url("../../images/background_images/Hotelbg.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0px;
}
.question_and_answers-faq {
  border-radius: 1.5rem;
  background-color: rgba(255,255,255,0.4);
  height: 80vh;
  width: 90%;
  margin: auto;
}

.faq_table-faq {
  background-color: rgba(255,255,255,0.0);
  width: 90%;
  margin: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
table::-webkit-scrollbar {
  width: 5px;
}

table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.question-faq {
  background-color: rgba(255,255,255,0.8);
  height: 2rem;
  padding: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
}
.answer-faq {
  background-color: #89C2B8;
  height: 5rem;
  padding: 0px;
  padding-left: 2rem;
  border-bottom: solid;
  border-width: thin;
  border-spacing: none;
  border-color: rgba(0, 0, 0, 0);
}
