
/*__________________about_us________________*/

.about_us-section {
  height: 100vh;
}
.h1-about_us {
  font-size: 2rem;
  text-align: center;
}
.div-about_us {
  display: block;
  height: 28vh;
}
.h3-about_us {
  margin: auto auto 1rem 8%;
  float: left;
}
.p-about_us {
  display: block;
  text-align: justify;
  width: 60%;
  margin: auto auto auto 8%;
  float: left;
}
.logo-about_us {
  width: 14.5%;
  height: auto;
  float: right;
  margin: auto 8% auto auto;
}

.hr-about_us {
border-width: 0.3rem 0rem 0rem 0rem;
border-color: #000000;
margin: 0px;
}
/*.............image gallery <- about us...............*/

.gallary-about_us {
  height: 42vh;
  width: 90%;
  margin: auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.slide-about_us img{
  height: 40vh;
  width: auto;
  margin: 0.3rem 5px;
  border-radius: 1vh;
}
.gallary-about_us::-webkit-scrollbar {
	display: none;
}
.prev_btn-about_us {
  float: left;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 1px 3px #888;
  height: 15vh;
  width: 2.5rem;
  margin: 12.5vh 0rem 12.5vh 0.5rem;
  cursor: pointer;
  text-align: center;
}
.left_arrow-about_us {
  height: 90%;
  width: 90%;
  margin: 10% auto;
}
.next_btn-about_us {
  float: right;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 1px 3px #888;
  height: 15vh;
  width: 2.5rem;
  margin: 12.5vh 0.5rem 12.5vh 0rem;
  cursor: pointer;
  text-align: center;
}
.right_arrow-about_us {
  height: 90%;
  width: 90%;
  margin: 10% auto;
}
.slide-about_us img:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
  cursor: pointer;
}
/*.............END image gallery <- about us...............*/
/*__________________END about_us________________*/
