.navigations_name {
  font-weight: normal;
}
.navigations_bold_style {
  font-weight: bolder;
}
.nav_bar-table {
    width: 100%;
    height: 3rem;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}
table td {
  width: 10%;
}
table td a {
  color: #000000;
  text-decoration: none;
}
.nav_bar-logo {
  height: auto;
  width: 3rem;
}
.nav_bar-img {
  height: auto;
  width: 2rem;
}
.nav_bar-active {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  width: 40px;
  position: absolute;
  right: 0px;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drop-nav{
  color: #ffffff;
  text-decoration: none;
}

.drop-box{
  border-bottom: 2px solid #ffffff;
  height: 40px;
  padding-top: 20px;
}

.drop-title{
  font-weight: bold;
}
.deleteAccount_btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
/* ....................modal Box................................ */
.delete_modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
}
.deleteAccount_confirm_box{
  height: 25vh;
  width: 45%;
  background-color: rgba(255,255,255, 1);
  margin: auto;
  z-index: 1;
  position: fixed;
  border-radius: 0.5rem;
  left: 30%;
  top: 30vh;
}
.deleteAccount_confirm_box h3,p {
    margin-left: 1rem;
}
.delete_confirm_btn {
  width: 30%;
  margin: auto 1rem auto 1rem;
  height: 2rem;
  border-radius: 0.2rem;
  border-width: 0px;
  background-color: rgba(222, 17, 2,0.8);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 2px #888888;
  float: right;
}
.delete_cancel_btn {
  width: 20%;
  margin: auto;
  height: 2rem;
  border-radius: 0.2rem;
  border-width: 0px;
  background-color: rgba(2, 222, 28 , 0.8);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 2px #888888;
  float: right;
}
